<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Test d'application realiser en formation.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Hello World</h2>
        <p>Moteur de recherche dans un base de donnée local</p>
        <p><a class="btn btn-default" href="../test"> index!  &raquo;</a></p>
        <p><a class="btn btn-default" href="../test/hello"> hello!  &raquo;</a></p>
        <p><a class="btn btn-default" href="../test/hello/vincent"> hello!  &raquo;</a></p>
        <p><a class="btn btn-default" href="../test/aaa"> aaa!  &raquo;</a></p>
        <p><a class="btn btn-default" href="../test/mock/26"> mock  &raquo;</a></p>
        <p><a class="btn btn-default" href="../test/price/20"> test book  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Books</h2>
        <p>Moteur de recherche dans un base de donnée local</p>
        <p><a class="btn btn-default" href="../books">index &raquo;</a></p>
        <p><a class="btn btn-default" href="../books/details">Detail &raquo;</a></p>
        <p><a class="btn btn-default" href="../books/research/aie">Research &raquo;</a></p>

    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>