@model List<FormationDotNet.BookTO>

@{
    /**/

    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>


    @foreach (var BookTO in Model)
    {

        <dl class="dl-horizontal">
            <dd>@BookTO.Id</dd>
            <dd>@BookTO.Title</dd>
            <dd>@BookTO.Price</dd>
        </dl>
    }


    <@using (Html.BeginForm("Details","Books",FormMethod.Get))
    {
        <p>
            Title : @Html.TextBox("SearchingString")<br />
            <input type="submit" value="Filter" />
        </p>
    }

</div>
