@model List<FormationDotNet.Models.Book>

@{
                /**/

                ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    @foreach (var Book in Model)
    {

        <dl class="dl-horizontal">
            <dd>@Book.id</dd>
            <dd>@Book.title</dd>
            <dd>@Book.price</dd>
        </dl>
    }
</div>
